@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #222;
}

.inner-shadow{
    box-shadow: inset #2563eb 1px 1px 10px;
}

.top-shadow{
    box-shadow: #2563eb 1px -4px 6px;
}

.border-sky-300{
    border: solid #7dd3fc 4px;
}

.border-green-500{
    border: solid #22c55e 4px;
}

.border-yellow-500{
    border: solid #eab308 4px;
}

.bg-sky-300{
    background-color: #7dd3fc;
}

.bg-green-500{
    background-color: #22c55e;
}

.bg-yellow-500{
    background-color: #eab308;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #172554;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #7dd3fc;
    width: 80%;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  